{% extends "layout.html" %}

{% block title %}API Guide{% endblock %}

{% block main %}

<div class="container">
  <h1>API Guide</h1>

  <p>This is the guide for getting an api key for using the AI</p>

  <h2>Getting an API key</h2>

  <p>Go to <a role="button" class="btn btn-primary" href="https://aistudio.google.com/app/apikey">This</a> link, sign in with google, and click "create api key".</p>


  <h2>Rate Limiting</h2>

  <p>Notice! The API is rate limited to 1,500 requests per day and 15 requests per minute. the default api is limited to 25 requests per day.</p>

</div>

{% endblock %}
